# Copy this file to .env.local and fill in your values

# Backend Services
VITE_USER_URL=http://localhost:8090
VITE_ROUTE_URL=http://localhost:8082
VITE_BOOKING_URL=http://localhost:8083

# Keycloak
VITE_KEYCLOAK_URL=http://localhost:9098
VITE_KEYCLOAK_REALM=micro-services
VITE_KEYCLOAK_CLIENT=micro-services-api
